
<mat-toolbar class="header">
    <div class="nav d-flex flex-row justify-content-around align-items-center">
            <a
              mat-button
              routerLink="/ConversordeMoedas"
              routerLinkActive="active"
              class="navbar"
              >Pesquisar Produto</a
            >
          <a
          mat-button
          routerLink="/ListarSimbolos"
          routerLinkActive="active"
          class="navbar"
          >Cadastrar Produto</a
        >

        </div>
</mat-toolbar>
